body {
  background-color: rgb(30,30,40);
  background-image: url(./images/pattern-hills.svg), url(./images/bg-stars.svg);
  background-position: bottom, top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}