body {
  background-color: rgb(30,30,40);
  /* background-color: linear-gradient(180deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%); */
  background-image: url(./images/pattern-hills.svg), url(./images/bg-stars.svg);
  background-position: bottom, top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  font-size: 18px;
  letter-spacing: 6.14px;
}

.timer {
  box-shadow: 0px .3rem #191A23;
  background: #343650;
  letter-spacing: -1.08px;
}

.unit {
  letter-spacing: 2.96px;
  font-size: .5rem;
}

@media screen and (min: 1440px) {
  body {
    background-size: 100%;
  }
}